:root {
	--xst-bg: #fff;
	--xst-table-bg: #eee;
	--xst-table-border: #ccc;
	--xst-nav-bg: #888;
	--xst-nav-fg: #fff;
	--xst-header-bg: #aaa;
	--xst-header-fg: #fff;
	--xst-present-bg: #FFFDD0;
	--xst-print-btn-bg: #3366ff;
	--xst-print-btn-fg: #fff;
	--xst-print-btn-hover-bg: #fff;
	--xst-print-btn-hover-fg: #3366ff;
	--xst-widget-link-bg: #777;
	--xst-widget-link-fg: #fff;
	--xst-widget-th-bg: #c5c5c5;
	--xst-input-bg: #fff;
	--xst-input-fg: #000;
	--xst-form-label-fg: #666;
	--xst-form-submit-bg: #777;
	--xst-form-submit-fg: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--xst-bg: #181818;
		--xst-table-bg: #222;
		--xst-table-border: #444;
		--xst-nav-bg: #444;
		--xst-nav-fg: #fff;
		--xst-header-bg: #333;
		--xst-header-fg: #fff;
		--xst-present-bg: #333300;
		--xst-print-btn-bg: #3366ff;
		--xst-print-btn-fg: #fff;
		--xst-print-btn-hover-bg: #222;
		--xst-print-btn-hover-fg: #3366ff;
		--xst-widget-link-bg: #222;
		--xst-widget-link-fg: #fff;
		--xst-widget-th-bg: #333;
		--xst-input-bg: #222;
		--xst-input-fg: #eee;
		--xst-form-label-fg: #ccc;
		--xst-form-submit-bg: #3366ff;
		--xst-form-submit-fg: #fff;
	}
}
.xllentech_salat_widget {
	width: 100%;
	margin: 0 auto;
	background: var(--xst-bg);
}
.xllentech_salat_timings table {
	width: 100%;
	margin: 0 auto;
	font-size: 14px;
	border: 1px solid var(--xst-table-border);
	table-layout: fixed;
	background: var(--xst-table-bg);
}
.xllentech_salat_timings button {
	font-size: 13px;
	font-weight: bolder;
	height: 35px;
	opacity: 0.5;
	width: 100%;
	border:0;
	background: var(--xst-form-submit-bg);
	color: var(--xst-form-submit-fg);
}
.xllentech_salat_timings table th {
	text-align: center;
	font-weight: bold;
	word-break: break-word;
	padding:0;
	background: var(--xst-header-bg);
	color: var(--xst-header-fg);
}
.xllentech_salat_timings table td {
	text-align: center;
	padding: 8px 0px 8px 0px;
	border: 1px solid var(--xst-table-border);
}
table.xst_monthly_table_Default tr:nth-child(even) {
	background-color: var(--xst-table-bg);
}
table.xst_monthly_table_Default tr.xllentech-salat-nav {
	background: var(--xst-nav-bg);
	color: var(--xst-nav-fg);
	font-size:20px;
	letter-spacing:2px;
}
table.xst_monthly_table_Default tr.xllentech-salat-header {
	background: var(--xst-header-bg);
	font-size: 15px;
	color: var(--xst-header-fg);
	line-height:25px;
}
.xllentech_salat_timings input[type="text"]{
	color: var(--xst-input-fg);
	background: var(--xst-input-bg);
}
.xst_present_day {background: var(--xst-present-bg) !important;}
.xst_print_button {
	float:right;
}
.xst_print_button button {
	line-height: 0.25em;
	font-size: 25px;
	color: var(--xst-print-btn-fg);
	background-color: var(--xst-print-btn-bg);
	border: 2px solid var(--xst-print-btn-bg);
	border-radius: 10px;
	padding: 20px 35px;
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}
.xst_print_button button:hover {
	background-color: var(--xst-print-btn-hover-bg);
	color: var(--xst-print-btn-hover-fg);
	border: 2px solid var(--xst-print-btn-bg);
	border-radius: 10px;
	padding: 20px 35px;
}
.xst_instructions{float:left;}
.xllentech_salat_timings input[type="submit"]{width:100%;height:35px;padding:0;}
.xllentech_salat_timings ul.xst_data_form{list-style:none}
.xllentech_salat_timings ul.xst_data_form li{width:50%;float:left;min-width:195px}
.xllentech_salat_timings ul.xst_data_form li label{width:95px;display:inline-block;padding:10px;color:var(--xst-form-label-fg);}
.xllentech_salat_timings ul.xst_data_form li input,.xllentech_salat_timings ul.xst_data_form li select{border:1px solid var(--xst-table-border);color:var(--xst-form-label-fg);background:var(--xst-input-bg);width:60%}
.xllentech_salat_timings ul.xst_data_form li.xst_data_submit{width:100%;text-align:center;margin:10px 0}
.xllentech_salat_timings ul.xst_data_form li.xst_data_submit input{color:var(--xst-form-submit-fg);background:var(--xst-form-submit-bg)}
/* Xllentech salat Timings Monhtly CSS END */
/*Monthly salat Timings Widget CSS START */
.xllentech_salat_widget table {
	width: 100%;
}
.xllentech_salat_widget table td {
	text-align: left;
	line-height: 25px;
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	border: 0;
}
.xllentech_salat_widget table th {
	text-align: center;
	line-height: 30px;
	background-color: var(--xst-widget-th-bg);
}
table.xst_daily_Default {
	width: 100%;
}
.xllentech_salat_widget_link {
	width: 100%;
	background: var(--xst-widget-link-bg);
	display: block;
	text-align: center;
}
.xllentech_salat_widget_link a{
	display: block;
	width: 100%;
	font-weight: bold;
	color: var(--xst-widget-link-fg);
	line-height: 2em;
}
/*Monthly salat Timings Widget CSS END */
@media print {
		body * {
				visibility: hidden;
			}
			#printarea, #printarea * {
				visibility: visible;
			}
			#printarea {
				overflow:visible;
				position:fixed;
				left:0;
				top:0;
				width:100%;
			}
			#printarea table.xst_monthly_table_Default tr:nth-child(odd) {
						background-color: var(--xst-table-border);
				}
}